# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*

# Entornos virtuales
.venv/
venv/
env/

# IDE/OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Artefactos locales
*.log
*.tmp
*.sqlite3
*.db-journal
*.db-wal
*.db-shm

# Docker
docker-compose.override.yml
